<a href="https://colab.research.google.com/github/MC-JP/Project-Medusis/blob/celek/cat_exhibition(sql_project).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3
conn=sqlite3.connect('cat_exhibition.db')
C = conn.cursor()

In [2]:
C.execute("""CREATE TABLE cat(
name text,
breed text,
age integer)
""")

In [0]:
def insert_cat():
    a=input("cat's name:")
    b=input("cat's breed:")
    c=input("cat's age:")
    with conn:
        C.execute("INSERT INTO cat VALUES(:name, :breed, :age)",{'name':a,'breed': b, 'age': c})

def show_all_cats():
    with conn:
        C.execute("SELECT * FROM cat")
        return C.fetchall()


def show_cats_by_name():
    a=input("provide a name")
    with conn:
        C.execute("SELECT * FROM cat WHERE name=:name",{'name':a})
        cats_list =  C.fetchall()
    if cats_list:
        print(cats_list)
    else:
        print("no cats with such name registered for the exhibition")
        y=input("Do you want to try again? (yes/no)")
        z=True
        while z:
            if y=="yes":
                delete_cat()
                z=None
            elif y=="no":
                z=None
            else:
                y=input("Do you want to try again? (yes/no)")

def delete_cat():
    print("give cat details to confirm the operation")
    a=input("cat's name:")
    b=input("cat's breed:")
    c=input("cat's age:")
    C.execute("SELECT * FROM cat WHERE name=:name AND breed = :breed AND age= :age",
                  {'name': a , 'breed': b, 'age':c})
    x = C.fetchall()
    if x:
        with conn: 
            C.execute("DELETE FROM cat WHERE name = :name AND breed = :breed AND age= :age",
                      {'name': a , 'breed': b, 'age':c})
        print("cat removed from the database ")
    else:
        print("no such cat registered for the exposition")
        y=input("Do you want to try again? (yes/no)")
        z=True
        while z:
            if y=="yes":
                delete_cat()
                z=None
            elif y=="no":
                z=None
            else:
                y=input("Do you want to try again? (yes/no)")

In [5]:
z=True
while z: 
    print("""What would you like to do?
    1.Add a new cat
    2.Remove a cat
    3.Show a full list of cats
    4.Show cats by name
    5.quit""")
    
    q=input("Press a number: ")
    try:
        q=int(q)
    except ValueError:
        pass
    if q==1:
        insert_cat()
    elif q==2:
        delete_cat()
    elif q==3:
        for i in show_all_cats():
            print(i,end="\n")
    elif q == 4:
        for i in show_cats_by_name():
            print(i,end="\n")
    elif q == 5:
        z=None
    else: 
        print("please choose a number between 1 and 5")

What would you like to do?
    1.Add a new cat
    2.Remove a cat
    3.Show a full list of cats
    4.Show cats by name
    5.quit
Press a number: 5