<a href="https://colab.research.google.com/github/MC-JP/Project-Medusis/blob/celek/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3 
connection = sqlite3.connect("myTable.db") 
crsr = connection.cursor()

In [0]:
sql_command = """CREATE TABLE emp (  
staff_number INTEGER PRIMARY KEY,  
fname VARCHAR(20),  
lname VARCHAR(30),  
gender CHAR(1),  
joining DATE);"""

In [12]:
crsr.execute(sql_command)

OperationalError: ignored

In [13]:
sql_command = """INSERT INTO emp VALUES (1, "Bill", "Gates", "M", "1980-10-28");"""
crsr.execute(sql_command)

In [47]:
sql_command = """create table adres(
  id_adres int primary key,
  ulica varchar(50) not null,
  numer_domu INT not null,
  numer_lokalu INT,
  kod_pocz varchar(6) not null,
  miejscowosc varchar(20) not null)"""
crsr.execute(sql_command)

In [45]:
sql_command= "drop table adres"
crsr.execute(sql_command)

In [46]:
connection.commit() 
connection.close()

OperationalError: ignored

crsr.execute("SELECT * FROM emp")

In [49]:

crsr.execute("SELECT * FROM adres")

ans= crsr.fetchall()  
for i in ans: 
    print(i)

(1, 'Polanki', 20, None, '88-111', 'Krupy')

In [48]:
sql_command= """insert into adres values (1,'Polanki',20,NULL,'88-111','Krupy')"""
crsr.execute(sql_command)